project_dir	gs_report	gs_probe	gs_sample	gs_control	anno_table	pheno_file	project_name	probe_det	sample_det	sex_check	iac_check	iac_sd_thrs	norm_method	transform_method
/media/D/expression/GAP_Expression	Sample_and_Control_Probe_Profile_FinalReport.txt	Group_Probe_Profile_Final_Report.txt	sample_table_Final_Report.txt	control_probe_profile_Final_Report.txt	probe_annotation_Final_Report.txt	sample_pheno.txt	GAP	0.8	0.8	1	1	2	rsn	vst
